<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect - Talent Award</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/nominee.css">
  </head>
  <body>
    {% include 'partials/header.liquid' %}

    <section class="heroNominee">
      <div class="heroContainer">
        <div class="nomineeInfo">
          <div class="slug">Home \ Talent Award \ {{ nomination.title | json | replace: '"', '' }}</div>
          <h1>{{ nomination.title | json | replace: '"', '' }}</h1>
          <ul>
            <li><span class="bold">Opleiding:</span> {{ nomination.course }}</li>
            <li><span class="bold">Institutie:</span> {{ nomination.institution }}</li>
            <li><span class="bold">Variant:</span> {{ nomination.education_variant }}</li>
            <li><span class="bold">Vorige opleiding:</span> {{ nomination.previous_course }}</li>
          </ul>
        </div>
        <img src="https://fdnd-agency.directus.app/assets/{{ nomination.profile_picture }}">
      </div>
    </section>

    <section class="bio">
      <p>{{ nomination.body }}</p>
    </section>
  </body>
</html>
